/*
*
* @pakage rtcamp_challenge_2a
*
*
*/
/*
=====================================================
		CSS FOR rtcamp_challenge_2a
=====================================================
*/

.slider_settings{
	
	margin-right:20px;
	padding:10px;
	background-color:#ffff;
	box-shadow:6px 8px 0 #d3d3d3;
}
.slider_settings ul li{
	
	display:inline-block;
	margin:0 10px 0 10px;
	list-style-type:none;
	
}

.slider_settings ul li img{
	width:100px;
	height:100px;
	transition:transform 0.4s;
	
}

.slider_settings p{
	
	//font-weight:bold;
	font-size:20px;
	margin-bottom:10px;
}

.save_dlt_form{
	display:inline-block;
	float:right;
	margin-right: 15px;
	margin-top: 9px;
}

.delete{
	background: #ff0000 !important;
	box-shadow :0 1px 0 #8b0000 !important;
	text-shadow:none !important;
	border-color:#ff0000 !important;
}